## Cluster the Neighbourhood in Toronto

Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [14]:
import pandas as pd
import requests

print('Libraries imported.')

Libraries imported.

<a id='item1'></a>

#### Get the HTML of the Wiki page, convert into a table with help of read_html (read HTML tables into a list of DataFrame objects), remove cells with a borough that is Not assigned.

In [8]:
request = requests.get("https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&direction=prev&oldid=926287641")
 
df_raw = pd.read_html(request.content, header=0)[0]
df_new = df_raw[df_raw.Borough != 'Not assigned']
df_new.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

#### Find whether there is a "Not assigned" in Neighbourhood

In [9]:
df_new.loc[df_new.Neighbourhood == 'Not assigned']

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

#### If we have Neighbourhood Not assigned, we change it with the value of Borough

In [10]:
df_new.Neighbourhood.replace('Not assigned',df_new.Borough,inplace=True)
df_new.head(10)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

#### Group Neighbourhoods with the same Postcode

In [11]:
df_toronto = df_new.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_toronto = df_toronto.reset_index()
df_toronto.rename(columns = {'Postcode':'PostalCode'}, inplace = True)
df_toronto.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_toronto.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [12]:
df_toronto.shape

(103, 3)

#### Get the latitude and the longitude coordinates of each neighborhood

Use the csv file, because of problem while importing geocoder

In [17]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
#check the shape of the csv file
df_geo.shape

(103, 3)

Both tables have the same shape. Now we can join new columns to our data.

In [19]:
df_toronto = df_toronto.join(df_geo.set_index('Postal Code'), on='PostalCode')
df_toronto.head

<bound method NDFrame.head of     PostalCode      Borough  \
0          M1B  Scarborough
1          M1C  Scarborough
2          M1E  Scarborough
3          M1G  Scarborough
4          M1H  Scarborough
..         ...          ...
98         M9N         York
99         M9P    Etobicoke
100        M9R    Etobicoke
101        M9V    Etobicoke
102        M9W    Etobicoke

                                          Neighborhood   Latitude  Longitude
0                                       Rouge, Malvern  43.806686 -79.194353
1               Highland Creek, Rouge Hill, Port Union  43.784535 -79.160497
2                    Guildwood, Morningside, West Hill  43.763573 -79.188711
3                                               Woburn  43.770992 -79.216917
4                                            Cedarbrae  43.773136 -79.239476
..                                                 ...        ...        ...
98                                              Weston  43.706876 -79.518188
99                                           Westmount  43.696319 -79.532242
100  Kingsview Village, Martin Grove Gardens, Richv...  43.688905 -79.554724
101  Albion Gardens, Beaumond Heights, Humbergate, ...  43.739416 -79.588437
102                                          Northwest  43.706748 -79.594054

[103 rows x 5 columns]>